[Unit]
Description=MQTT Log Loop
After=network.target

[Service]
ExecStart=venv/bin/python -u log_loop.py
WorkingDirectory=/home/pi/mqttloops
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
